:root {
  --vp-c-brand: #409eff;
  --vp-c-brand-light: #79bbff;
  --vp-c-brand-lighter: #a0cfff;
  --vp-c-brand-dark: #337ecc;
  --vp-c-brand-darker: #337ecc;
  --vp-nav-logo-height: 35px;
  --vp-home-hero-name-background: linear-gradient(120deg, #128bed 30%, #41d1ff);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-image-filter: blur(40px);
}
